In [1]:
# Import statements

import pandas as pd

from kmodes.kprototypes import KPrototypes

In [9]:
# Create a test dataframe

df = pd.DataFrame(columns=["num1", "num2", "str1", "str2", "num3"],
                  data=[[1,9,"A","Z",3],
                        [3,9,"B","X",4],
                        [2,7,"A","Z",3],
                        [1,6,"C","Y",2],
                        [1,8,"B","Z",5],
                        [4,6,"B","Z",3],
                        [5,9,"C","X",8],
                        [2,8,"C","Z",4],
                        [4,8,"B","X",1],
                       ])

# There are 2 categorical columns, at index 2 and 3

In [3]:
# Inspect the data

df.head()

   num1  num2 str1 str2  num3
0     1     9    A    Z     3
1     3     9    B    X     4
2     2     7    A    Z     3
3     1     6    C    Y     2
4     1     8    B    Z     5

In [4]:
# Create the K-prototypes model
# Specify the number of groups, or it defaults to 8

model = KPrototypes(n_clusters=4)

In [5]:
# Determine clusters
# Use .fit_predict() rather thant .fit()
# Give the model the index numbers for the categorical columns

clusters = model.fit_predict(df, categorical=[2, 3])

In [6]:
# Examine clusters

clusters

array([0, 0, 0, 1, 0, 3, 2, 0, 3], dtype=uint16)

In [7]:
# Add the clusters to the data

df["clusters"] = clusters

In [8]:
# Inspect the data

df.head()

   num1  num2 str1 str2  num3  clusters
0     1     9    A    Z     3         0
1     3     9    B    X     4         0
2     2     7    A    Z     3         0
3     1     6    C    Y     2         1
4     1     8    B    Z     5         0